*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.class-1{
  position: absolute;
  height: 200px;
  width: 1900px;
  background-color: brown;
  color: black;
  border: 3px solid yellowgreen;
}
.class-2{
  margin: 20px;
  /* position: absolute; */
  height: 200px;
  width: 1900px;
  background-color: rgb(165, 42, 93);
  color: black;
  border: 3px solid rgb(228, 235, 234);
}
.class-3{
  margin: 20px;
  /* position: absolute; */
  height: 200px;
  width: 1900px;
  background-color: rgb(9, 39, 190);
  color: rgb(29, 192, 64);
  border: 3px solid rgb(247, 77, 142);
}
.class-4{
  margin: 20px;
  /* position: absolute; */
  height: 200px;
  width: 1900px;
  background-color: rgb(236, 240, 5);
  color: rgba(0, 0, 0, 0.13);
  border: 3px solid rgb(205, 60, 50);
}

.class-5{
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 1400px;
  padding: 0.34rem;
  background-color: rgb(51, 230, 185);
  color: black;
  border: 3px solid rgb(82, 101, 212);
  font-size: 30px;
  display: flex;
  justify-content: center;
}