
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,900&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 0, 0, 0.212);
    font-family: 'Merriweather', serif;
  }
  nav {
    margin-top: 5vh;
    padding : 1vh;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:30vh;
    background-color: #000000;
  }
  /* title-styles */
  .title-logo {
    background-color: #ecd91c;
    color: #1c1b19;
    height: 19vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 6vh; */
    text-align: center;
    /* line-height: 19px;
    letter-spacing: 1vw; */
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
  }
  .title{
    width: 80%;
    display: flex;
    justify-content: center;
    font-size:2.8rem;
    line-height: 19px;
    letter-spacing: 0.4dvw;
  }
  .app-name {
    font-weight:1500;
    margin: 0;
    padding: 10px;
  }
  .date-time{
    color: black;
    height: 5vh;
    letter-spacing: 0.2vw;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    /* align-items:first baseline; */
    width: 80vw;
    /* border: 2px solid black; */
    font-family: 'Times New Roman', Times, serif;
  }
  /* title styles */

  /* navbar styles */
  .navbar{
    display: flex;
    justify-content: space-around;
    width: 98vw;
    align-items: center;
  
    /* border: 4px solid #f9f9f9 ; */
  }
  .navbar i{
    /* background-color: #ecd91c; */
     display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    width: 9vw;
    font-size: 8vh;
    right:4vw;
  }
  .navbar-btn {
    display: flex;
    /* background-color: #ecd91c; */
   background-color:#000000;
    border: none;
    padding: 1vw;
    cursor: pointer;
    width: 90%;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid snow; */
  }
  .navbar-btn .categry-btn {
    width: 120px;
    padding: 10px 0px;
    font-size: 0.8rem;
    border: none;
    background-color:#000000;
    box-shadow: white;
    border: white 1px solid;
    border-radius: 2vw;
    position: relative;
  }
  .navbar-btn button :hover{
    color: #000000;
    /* transform: scale(1.05); */
    /* transform: translate(20px,20px); */
    /* box-shadow: 5px 1px 5px 15px goldenrod; */
  }

  .navbar-btn a{
    text-decoration: none;
    list-style: none;
    color: goldenrod;
  }
  select {
    height: 35px;
    width: 180px;
    display: flex;
    justify-content: center;
    font-size: 2vh;
    font-weight: bold;
    overflow-y: hidden;
    text-align: center;
    
  }
  select::-webkit-scrollbar{
    display: none;
  }
  select >option {
    height: inherit;
    width: inherit;
    overflow: hidden;
    background-color: #000000;
    color: goldenrod;
  }
  .login{
    margin-right: 4px;
  }
  /* navbar styles */

/* searchbar styles */
  .search-icon{
    display: flex;
    height: 8vh;
    width: 20vw;
    justify-content: center;
    align-items: center;
    padding: 0.5vh;
  }
  .search-bar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search{
    height: 5vh;
    width: 15vw;
    font-size: 2vh;
    font-weight: bold;
    padding-left: 2vw;
    padding-right:1vw;
  }
  .search-bar .search-btn{
    position:absolute;
    width: 2vw;
    height:5vh;
    right: 0;
    background-color: white;
    border: none;
    font-size: 2vh;
  }
  /* searchbar styles */

  .newsbar{
    display: flex;
    width:95%;
    height:700px;
    background-color: rgb(145, 185, 204);
    border: 2px solid black;
  }

  .grid-container{
    margin: 30px;
    display: flex;  
    flex-direction: row;
    padding: 10px;
    width:90%;
    height: 500px;
    background-color:rgba(226, 13, 13, 0.281);
    border: 2px solid black;
    gap:10px;
  }
  
  .grid-item{
    width:150px;
    height: fit-content;
    border: 2px solid black;
    position: relative;
  }
  .grid-item img{
    height: 100%;
    width: 100%;
    padding: 0.2rem;
  } 
  .grid-item p {
    width: 100%;
    border: 2px solid rgb(155, 44, 44);
    position: absolute;
    bottom:0;
    left: 0;
  }


























  
  
  @media screen and (max-width:500px){
    .navbar-btn {
      display: flex;
      /* background-color: #ecd91c; */
     background-color:#000000;
      border: none;
      padding: 1vw;
      cursor: pointer;
      width: 90%;
      justify-content:space-around;
      align-items: center;
     flex-direction: column;
      /* border: 2px solid snow; */
    }
  }
  
  

   