
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@700&family=Lato:wght@900&family=Lora:wght@700&display=swap');
.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
header{
    display: flex;
    justify-content:space-evenly;
}
.header-details {
    list-style: none;
    display: flex;
    gap: 30px;
}
